html {
	height: 100%;
}

body {
	background-color: #BFD7EA;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

a {
	text-decoration: none;
}

header {
	background-color: #839788;
	clear: both;
	margin: 0px;
	padding-top: 1%;
	justify-content: center;
}

header .user {
	float: right;
	width: 20%;
}

header h1 {
	color: #26352a;
	clear: none;
	width: fit-content;
	margin:auto;
}

.menu {
	clear: both;
	text-align: center;
	font-size: large;
}

.menu li {
	display: inline-block;
	padding: 1%;
	margin: 0px;
}

.menu ul a {
	color: #26352a;
}

.menu ul a:hover {
	text-decoration: underline;
	color: #BFD7EA;
}

.center {
	text-align: center;
}