<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>
	<div>
		<img th:src="@{${session.user.photosImagePath}}" id="avatar" />
		<button
			th:onclick="@{location.href='/profile/picture'}">Modifier
			image</button>
	</div>
	<a href="/modifyProfile">Modifier mes données</a>

	<a th:href="@{/playlist/{id}(id=${session.user.favorite.id})}">Favori</a>

	<p>Playlists :</p>
	<table>
		<tr th:each="playlist : ${playlists}">
			<td>
				<a th:href="@{/playlist/{id}(id=${playlist.id})}"><span th:text="${playlist.name}"/></a>
			</td>
			<td>
			<form action="/deletePlaylist" th:method="delete"> 
				<input type="hidden" name="playlistId" th:value="${playlist.id}">
				<input type="submit" value="supprimer">
			</form>
			</td>
		</tr>
	</table>
	
	<p>Créer une playlist :</p>
	<form action="/createPlaylist" method="post">
		<label>Nom de la playlist :</label>
		<input type="text" name="name">
		<label>Description de la playlist :</label>
		<input type="text" name="description">
		<button type="submit">Créer</button>
	</form>

</body>
</html>