<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/formStyle.css}">
<meta charset="UTF-8">
<title>Modification chanson</title>
</head>
<body>
	<header>
		<div class="user">
			<a th:if="${session.user==null}" href="/login">Connexion</a>
			<th:block th:if="${session.user}">
				<a href="/profile"><img th:src="@{${session.user.photosImagePath}}"
					id="profile"></a>


				<button onclick="location.href='/logout'">Deconnexion</button>
			</th:block>
		</div>
		<a href="/">
			<h1>SPOTEEZER</h1>
		</a>
		<div class="menu">
			<ul>
				<li><a href="/artist">Artistes</a></li>
				<li><a href="/albums">Albums</a></li>
				<li><a href="/songs">Musiques</a></li>
				<li><a href="/playlist">Playlist</a></li>
			</ul>
		</div>
	</header>

	<div class="center">
		Modifier la chanson :  <th:block th:text="${song.name}"></th:block>
		
		<form th:action="@{/song/{id} (id = ${song.id})}" th:method="put">
			<label>Nom de l'abum:</label>
			<input type="text" name="name" th:value="${song.name}">
			<br>
			<label>Date de début : </label>
			<input type="date" name="releaseDate" th:value="${song.releaseDate}">
			<br>
			<label>L'album dont est issue la chanson :</label>		
			<br>
				<select name="album">
				<option value="">--Please choose an option--</option>
			<th:block th:each="album : ${albums}">
				<option th:if="${album.id!=song.album.id}" th:value="${album.id}"><span th:text="${album.name}" /></option>
				<option th:if="${album.id==song.album.id}" selected th:value="${album.id}"><span th:text="${album.name}" /></option>

			</th:block>
			</select>
			<br>
			<br>
			<th:block th:each="artist : ${artists}">
					<label><span th:text="${artist.name}" /></label>
					<input type="checkbox" th:name="@{art-{id}(id=${artist.id})}"
						th:value="${artist.id}"
						th:checked="${#lists.contains(song.artist, artist)}">
					<br>
			</th:block>
			<br>
			
			
		<button type="submit">Modifier</button>
		<button th:onclick="@{location.href='/song/{id}'(id=${song.id})}" type="button">Annuler</button>
		</form>
	</div>
	
	<footer>
		<ul>
			<li><a href="/artist">Artistes</a></li>
			<li><a href="/albums">Albums</a></li>
			<li><a href="/songs">Musiques</a></li>
			<li><a href="/playlist">Playlist</a></li>
		</ul>


		<p>
			WebMaster :<a href="mailto:auzollesme@cy-tech.fr"> AUZOLLES
				Mélina</a>, <a href="mailto:chambasmat@cy-tech.fr">CHAMBAS Mathilde</a>
			et <a href="mailto:sallmariem@cy-tech.fr">SALL Marième</a>

		</p>
	</footer>
</body>
</html>