<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Artist Page</title>
</head>
<body>
	<a href="/albums">Retour</a>
	<h1 th:text="${album.name}"></h1>
	
	<br>
	<span th:text="${album.releaseDate}" />

	<h2>Artiste de l'album</h2>
	<table>
		<tr th:each="art : ${album.artist}">
			<td th:text="${art.name}"></td>
		</tr>
	</table>
	
	<h2>Titres de l'album</h2>
	<table>
		<tr th:each="song : ${album.songs}">
			<td th:text="${song.name}"></td>
			<td th:text="${song.releaseDate}"></td>
		</tr>
	</table>
	
	<a th:href="@{/updateAlbum/{id}(id=${album.id})}">Modifier</a>
	<form th:action="@{/album/{id}(id=${album.id})}" th:method="delete">
		<button type="submit">Supprimer</button>
	</form>

</body>
</html>