<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>All Artist</title>
</head>
<body>
	<h1>Tous les artistes</h1>
	<a href="/createArtist">Creer artiste</a>

	<table>
		<thead>
			<tr>
				<th>Type</th>
				<th>Nom</th>
				<th>Date de debut</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="artist : ${artists}">
				<td th:text="${artist.type}"></td>
				<td>
					<a th:href="@{/artist/{id}(id= ${artist.id})}">
						<th:block th:text="${artist.name}"></th:block>
					</a>
				</td>
				<td th:text="${artist.debutDate}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>