<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Artist Page</title>
</head>
<body>
	<a href="/artist">Retour</a>
	<h1 th:text="${artist.name}"></h1>
	<div>
		<a th:href="@{/updateArtist/{id}(id=${artist.id})}">Modifier</a>
		<form th:action="@{/artist/{id}(id=${artist.id})}"
			th:method="delete">
			<button type="submit">Supprimer</button>
		</form>
	</div>
	<br>
	<span th:text="${artist.debutDate}" />

	<h2>Titres récents</h2>
	<table>
		<tr th:each="song : ${artist.songs}">
			<td th:text="${song.name}"></td>
			<td th:text="${song.releaseDate}"></td>
			<td th:text="${song.album.name}"></td>
		</tr>
	</table>


	<h2>Albums récents</h2>
	<ul>
		<th:block th:each="album : ${artist.albums}">
			<li><span th:text="${album.name}" /></li>
		</th:block>
	</ul>

	<div th:if="${members}">
		<h2>Membres</h2>
		<a th:href="@{/changeMembers/{id}(id= ${artist.id})}"> <span>Modifier
				les membres</span>
		</a>
		<ul>
			<th:block th:each="member : ${members}">
				<li th:if="${member.songs.size}!=0"><a
					th:href="@{/artist/{id}(id= ${member.id})}"> <span
						th:text="${member.name}" /></a></li>
				<li th:if="${member.songs.size}==0"><span
					th:text="${member.name}" /></li>

			</th:block>
		</ul>
	</div>

</body>
</html>