<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>
	<a href="/modifyProfile">Modifier mes données</a>
		
	<p>Playlists :</p>
	<table>
		<tr th:each="playlist : ${playlists}">
			<td>
			<a th:href="@{/playlist/{id}(id=${playlist.id})}"><span th:text="${playlist.name}"/></a>
			</td>
		</tr>
	</table>
	<p>Créer une playlist :</p>
	<form action="/createPlaylist" method="post">
		<label>Nom de la playlist :</label>
		<input type="text" name="name">
		<label>Description de la playlist :</label>
		<input type="text" name="description">
		<button type="submit">Créer</button>
	</form>
</body>
</html>