<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inscription</title>
</head>
<body>
	<form action="/registration" method="post">
		<label>Pseudo :</label>
		<input type="text" name="name">
		<label>Mot de Passe :</label>
		<input type="password" name="password">
		<label>Adresse Mail :</label>
		<input type="text" name="mail">
		<label>Code Postal :</label>
		<input type="text" name="postalCode">
		<label>Pays :</label>
		<input type="text" name="country">
		<input type="submit" value="create">
	</form>
</body>
</html>