<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	Ajouter une chanson :
	<form action="/song" method="post">
		<label>Nom de la chanson :</label>
		<input type="text" name="name">
		<label>Date de début : </label>
		<input type="date" name="releaseDate">
		<label>De quel album est issue la chanson ?</label>		
			<th:block th:each="album : ${albums}">
					<label><span th:text="${album.name}" /></label>
					<input type="radio" th:name="album"
						th:value="${album.id}">
					<br>
			</th:block>
		<br>
		<th:block th:each="artist : ${artists}">
				<label><span th:text="${artist.name}" /></label>
				<input type="checkbox" th:name="art"
					th:value="${artist.id}">
				<br>
		</th:block>
	<button type="submit">Créer</button>
	<button onclick="location.href='/songs'" type="button">Annuler</button>
	</form>
	
	<footer>
		<ul>
			<li><a href="/artist">Artistes</a></li>
			<li><a href="/albums">Albums</a></li>
			<li><a href="/songs">Musiques</a></li>
			<li><a href="/playlist">Playlist</a></li>
		</ul>


		<p>
			WebMaster :<a href="mailto:auzollesme@cy-tech.fr"> AUZOLLES
				Mélina</a>, <a href="mailto:chambasmat@cy-tech.fr">CHAMBAS Mathilde</a>
			et <a href="mailto:sallmariem@cy-tech.fr">SALL Marième</a>

		</p>
	</footer>

</body>
</html>