<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${song.name}</title>
</head>
<body>
	<h1 th:text="${song.name}"></h1>
	
	<h3>Issu de l'album :</h3>
	
	<tr th:each="alb : ${song.album}">
		<a th:href="@{/album/{id}(id=${alb.id})}"><th:block th:text="${alb.name}"></th:block></a>
	</tr>
	
	<br>
	
	<span th:text="${song.releaseDate}"/>
	
	<h3>Artistes de la chanson :</h3>
	<tr th:each="art : ${song.artist}">
		<a th:href="@{/artist/{id}(id=${art.id})}"><th:block th:text="${art.name}"></th:block></a>
	</tr>
	
	<a th:href="@{/updateSong/{id}(id=${song.id})}">Modifier</a>
	<form th:action="@{/song/{id}(id=${song.id})}" th:method="delete">
		<button type="submit">Supprimer</button>
	</form>
</body>
</html>