<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/uploadStyle.css}">
<meta charset="UTF-8">
<title>UPLOAD</title>
</head>
<body>

	<header>
		<div class="user">
			<a th:if="${session.user==null}" href="/login">Connexion</a>
			<th:block th:if="${session.user}">
				<a href="/profile"><img th:src="@{${session.user.photosImagePath}}"
					id="profile"></a>

				<button onclick="location.href='/logout'">Deconnexion</button>
			</th:block>
		</div>
		<a href="/">
			<h1>SPOTEEZER</h1>
		</a>
		<div class="menu">
			<ul>
				<li><a href="/artist">Artistes</a></li>
				<li><a href="/albums">Albums</a></li>
				<li><a href="/songs">Musiques</a></li>
				<li><a href="/playlist">Playlist</a></li>
			</ul>
		</div>
	</header>

	<div class="center">
			<div>
			<img th:src="@{${album.photosImagePath}}" id="current" />
			<br>
			<button th:onclick="@{location.href='/album/{id}'(id=${album.id})}">Annuler</button>
			</div>
		<div id="forms">
			<form method="post" action="/albumChangePicture">
				<input type="hidden" name="id" th:value="${album.id}">
				<th:block th:each="picture: ${pictures}">
					<label><img
						th:src="@{/album/{id}/{picture} (id=${album.id}, picture=${picture})}"
						id="preview" /></label>
					<input type="radio" name="picture" th:value="${picture}">
				</th:block>
				<label><img
						th:src="@{/basic/album.png}"
						id="preview" /></label>
					<input th:if="${album.picture=='album.png'}" type="radio" name="picture" value="album.png" checked>
					<input th:if="${album.picture!='album.png'}" type="radio" name="picture" value="album.png" >
				
				<br> <button type="submit">Modifier</button>
			</form>
<br>
<br>
<br>
			<form action="/albumPictureUpload" method="post"
				enctype="multipart/form-data">
				<input type="hidden" name="id" th:value="${album.id}"> <label>Ajouter
					une nouvelle photo: </label><br>      <input type="file" name="image"
					accept="image/png, image/jpeg" /> 
				<br> 
				<br> <button type="submit">Ajouter</button>
			</form>
		</div>
	</div>
	<footer>
		<ul>
			<li><a href="/artist">Artistes</a></li>
			<li><a href="/albums">Albums</a></li>
			<li><a href="/songs">Musiques</a></li>
			<li><a href="/playlist">Playlist</a></li>
		</ul>


		<p>
			WebMaster :<a href="mailto:auzollesme@cy-tech.fr"> AUZOLLES
				Mélina</a>, <a href="mailto:chambasmat@cy-tech.fr">CHAMBAS Mathilde</a>
			et <a href="mailto:sallmariem@cy-tech.fr">SALL Marième</a>

		</p>
	</footer>
</body>